:root > * {
    --md-primary-fg-color: #1d9e79;
    --md-default-bg-color: #2c2c2c;
    --md-typeset-color: white;
    --md-default-fg-color--light: white;
    --md-default-fg-color--lighter: white;
    --md-accent-fg-color: white;
    --md-typeset-a-color: #37caa0;
    --md-code-bg-color: rgba(255, 255, 255, .8);
    --md-text-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mermaid {
    background: rgba(255, 255, 255, 0.8);
}

.md-header,
.md-tabs {
    background: #0c7c5c;
}

.md-tabs__link {
    opacity: .95;
}

table img {
    width: 100%;
}

table,
thead,
tbody {
    width: 100%;
}

table {
    display: table;
}

.color-tile {
    width: 60px;
    height: 30px;
    border: 1px dotted white;
}

.md-typeset code {
    padding: 2px;
}
